body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#consola {
    width: 60%;
    height: 60%;
    border: 2px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    
}
